<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <% include partials/select_head %>
    </head>
    <body>
        <div id="wrapper">
            <div class="title" style="color:#2980b9; text-transform: uppercase; font-size:40pt; font-family: 'Ubuntu Condensed', sans-serif;">Suisse Cheese</div>

            <div style="color:#7f8c8d; font-size:16pt; font-family:'Roboto Slab', serif;">A stock research platform complete with smart charts and suggestions based on mean reversion statistical models.</div>


            <% include partials/select_body %>
        </div>
    </body>
</html>