<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Suisse Cheese</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
   
        <link rel="stylesheet" href="/css/stylesheet.css">
        <!--[if IE 8]><script src="js/es5.js"></script><![endif]-->
        <script src="/js/jquery.js"></script>
        <script src="/dist/js/standalone/selectize.js"></script>
        <script src="/js/index.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet'    type='text/css'>
        <style type="text/css">
        .selectize-control.contacts .selectize-input > div {
            padding: 1px 10px;
            font-size: 13px;
            font-weight: normal;
            -webkit-font-smoothing: auto;
            color: #f7fbff;
            text-shadow: 0 1px 0 rgba(8,32,65,0.2);
            background: #2183f5;
            background: -moz-linear-gradient(top, #2183f5 0%, #1d77f3 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2183f5), color-stop(100%,#1d77f3));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183f5', endColorstr='#1d77f3',GradientType=0 );
            border: 1px solid #0f65d2;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }
        .selectize-control.contacts .selectize-input > div.active {
            background: #0059c7;
            background: -moz-linear-gradient(top, #0059c7 0%, #0051c1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0059c7), color-stop(100%,#0051c1));
            background: -webkit-linear-gradient(top,  #0059c7 0%,#0051c1 100%);
            background: -o-linear-gradient(top,  #0059c7 0%,#0051c1 100%);
            background: -ms-linear-gradient(top,  #0059c7 0%,#0051c1 100%);
            background: linear-gradient(to bottom,  #0059c7 0%,#0051c1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059c7', endColorstr='#0051c1',GradientType=0 );
            border-color: #0051c1;
        }
        .selectize-control.contacts .selectize-input > div .company_symbol {
            opacity: 0.8;
        }
        .selectize-control.contacts .selectize-input > div .name + .company_symbol {
            margin-left: 5px;
        }
        .selectize-control.contacts .selectize-input > div .company_symbol:before {
            content: '<';
        }
        .selectize-control.contacts .selectize-input > div .company_symbol:after {
            content: '>';
        }
        .selectize-control.contacts .selectize-dropdown .caption {
            font-size: 12px;
            display: block;
            color: #a0a0a0;
        }
        </style>
    </head>
    <body>
        <div id="wrapper">


            <div class="title" style="color:#2980b9; text-transform: uppercase; font-size:40pt"; font-family: 'Ubuntu Condensed', sans-serif;>Suisse Cheese</div>

            <div style="color:#7f8c8d; font-size:20pt";font-family: 'Fjalla One', sans-serif;>A Web-based research platform complete with smart charts and machine-learning based suggestions.</div>




            <div class="demo"
                <div class="control-group">
                    <select id="select-to" class="contacts" placeholder="Enter Symbol"></select>
                </div>
                <script>
                // <select id="select-to"></select>

                var rows =<%-JSON.stringify(names)%>
                      var rows =<%-JSON.stringify(names)%>
                opt = []
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    opt[i] = {company_symbol: row.symbol, company_name: row.name}
                }



                var REGEX_COMPANY_SYMBOL = '([A-Z]{1,4}(\.[A-Z]{1,2})?)(?=\s|$)';

                var formatName = function(item) {
                    return $.trim((item.company_symbol));
                };

                $('#select-to').selectize({
                    persist: false,
                    maxItems: 1,
                    maxOptions: 5000,
                    valueField: 'company_symbol',
                    labelField: 'name',
                    searchField: ['company_name', 'company_symbol'],
                    sortField: [
                        {field: 'company_name', direction: 'asc'},
                        {field: 'company_symbol', direction: 'asc'}
                    ],
                    options: opt,
                    render: {
                        item: function(item, escape) {
                            var name = formatName(item);
                            return '<div>' +
                                (name ? '<span class="name">' + escape(name) + '</span>' : '') +
                                (item.company_symbol ? '<span class="company_symbol">' + escape(item.company_name) + '</span>' : '') +
                            '</div>';
                        },
                        option: function(item, escape) {
                            var name = formatName(item);
                            var label = name || item.company_name;
                            var caption = name ? item.company_name : null;
                            return '<div>' +
                                '<span class="label">' + escape(label) + '</span>' +
                                (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') +
                            '</div>';
                        }
                    },
                    createFilter: function(input) {
                        var regexpA = new RegExp('^' + REGEX_COMPANY_SYMBOL + '$', 'i');
                        var regexpB = new RegExp('^' + REGEX_COMPANY_SYMBOL + '$', 'i');
                        return regexpA.test(input) || regexpB.test(input);
                    },
                    create: function(input) {
                        if ((new RegExp('^' + REGEX_COMPANY_SYMBOL + '$', 'i')).test(input)) {
                            return {company_symbol: input};
                        }
                        var match = input.match(new RegExp('^' + REGEX_COMPANY_SYMBOL + '$', 'i'));
                        if (match) {
                            var name       = $.trim(match[1]);
                            var pos_space  = name.indexOf(' ');
                            var first_name = name.substring(0, pos_space);
                            var last_name  = name.substring(pos_space + 1);

                            return {
                                company_symbol: match[2],
                                first_name: first_name,
                                last_name: last_name
                            };
                        }
                        alert('Invalid symbol.');
                        return false;
                    }
                });
                </script>

                <p id="demo" onclick="myFunction()">Search</p>

                <script>
                function myFunction() {
                    window.location.href = "/info/" + $(".selected-stock").text();
                }
                </script>

                <script>
                    $('body').keypress(function(e) {
                        if (e.keyCode == '13') {
                            window.location.href = "/info/" + $(".selected-stock").text();
                        }
                    });
                </script>



            </div>
        </div>
    </body>
</html>